<a href="https://colab.research.google.com/github/mariyagolchin/Heatmap-Volcano-Manhattan-plotplot-in-Python/blob/main/RPM_or_CPM_RPKM_or_FPKM_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **RPM or CPM-RPKM or FPKM **
https://www.reneshbedre.com/blog/expression_units.html

In [2]:
pip install bioinfokit

Collecting bioinfokit
  Downloading https://files.pythonhosted.org/packages/22/98/b48976d1c2cc8cc455db68d7e18a9d56294e965da7eb7f5fab62d9b346e5/bioinfokit-2.0.3.tar.gz (81kB)
     |████████████████████████████████| 81kB 7.1MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (1.1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (1.19.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (3.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (1.4.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (0.22.2.post1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (0.11.1)
Requirement already satisfied: matplotlib-venn in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (0.11.6)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (0.8.9)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from bioinfokit) (0.10.2)
Collecting textwrap3
  Downloading https://files.pythonhosted.org/packages/77/9c/a53e561d496ee5866bbeea4d3a850b3b545ed854f8a21007c1e0d872e94d/textwrap3-0.9.2-py2.py3-none-any.whl
Collecting adjustText
  Downloading https://files.pythonhosted.org/packages/9e/15/4157718bf323fd5f5b81c891c660d0f388e042d2689a558bf1389632dc44/adjustText-0.7.3.tar.gz
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->bioinfokit) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->bioinfokit) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->bioinfokit) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->bioinfokit) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->bioinfokit) (2.4.7)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->bioinfokit) (1.0.1)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels->bioinfokit) (0.5.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->bioinfokit) (1.15.0)
Building wheels for collected packages: bioinfokit, adjustText
  Building wheel for bioinfokit (setup.py) ... done
  Created wheel for bioinfokit: filename=bioinfokit-2.0.3-cp37-none-any.whl size=55622 sha256=486102c30ada8a4d4ddc3018f44a4d0094bcb50d65abd34fa2ec3ad8c9bc765e
  Stored in directory: /root/.cache/pip/wheels/94/f6/36/f2562d2c83714b882d83a97e56925b363c7b7a4a9eba9d64ad
  Building wheel for adjustText (setup.py) ... done
  Created wheel for adjustText: filename=adjustText-0.7.3-cp37-none-any.whl size=7100 sha256=83ef3a6b403ce89d2f2fe7fdb657f542da6e8379d6a6bad7111bc5dd292a0836
  Stored in directory: /root/.cache/pip/wheels/41/95/74/7d347e136d672f8bc28e937032bc92baf4f80856763a7e7b72
Successfully built bioinfokit adjustText
Installing collected packages: textwrap3, adjustText, bioinfokit
Successfully installed adjustText-0.7.3 bioinfokit-2.0.3 textwrap3-0.9.2

In [11]:
# RPM or CPM normalization using Python bioinfokit (v0.9.1 or later) package,

# I am using interactive python interpreter (Python 3.7.4)
from bioinfokit.analys import norm, get_data
# load sugarcane RNA-seq expression dataset (Published in Bedre et al., 2019)
df = get_data('sc_exp').data
df.head()

               gene  ctr1  ctr2  ctr3  trt1  trt2  trt3  length
0  Sobic.001G000200   338   324   246   291   202   168  1982.0
1  Sobic.001G000400    49    21    53    16    16    11  4769.0
2  Sobic.001G000700    39    49    30    46    52    25  1096.0
3  Sobic.001G000800   530   530   499   499   386   264  3868.0
4  Sobic.001G001000    12     3     4     3    10     7   702.0

# **RPM or CPM normalization using Python**

In [12]:
# as this data has gene length column, we will drop length column
df = df.drop(['length'], axis=1)
# make gene column as index column
df = df.set_index('gene')
df.head()

                  ctr1  ctr2  ctr3  trt1  trt2  trt3
gene
Sobic.001G000200   338   324   246   291   202   168
Sobic.001G000400    49    21    53    16    16    11
Sobic.001G000700    39    49    30    46    52    25
Sobic.001G000800   530   530   499   499   386   264
Sobic.001G001000    12     3     4     3    10     7

In [13]:
# now, normalize raw counts using CPM method 
nm = norm()
nm.cpm(df=df)
# get CPM normalized dataframe
cpm_df = nm.cpm_norm
cpm_df.head()

                        ctr1        ctr2  ...        trt2        trt3
gene                                      ...
Sobic.001G000200  100.695004  101.731189  ...   74.270713   95.314714
Sobic.001G000400   14.597796    6.593688  ...    5.882829    6.240844
Sobic.001G000700   11.618654   15.385272  ...   19.119193   14.183737
Sobic.001G000800  157.894533  166.412129  ...  141.923244  149.780266
Sobic.001G001000    3.574971    0.941955  ...    3.676768    3.971446

[5 rows x 6 columns]

In [14]:
from bioinfokit.analys import norm, get_data
# load sugarcane RNA-seq expression dataset (Published in Bedre et al., 2019)
df = get_data('sc_exp').data
df.head(2)
# output

               gene  ctr1  ctr2  ctr3  trt1  trt2  trt3  length
0  Sobic.001G000200   338   324   246   291   202   168  1982.0
1  Sobic.001G000400    49    21    53    16    16    11  4769.0

In [15]:
# make gene column as index column
df = df.set_index('gene')
df.head(2)
# output

                  ctr1  ctr2  ctr3  trt1  trt2  trt3  length
gene
Sobic.001G000200   338   324   246   291   202   168  1982.0
Sobic.001G000400    49    21    53    16    16    11  4769.0

In [16]:
# now, normalize raw counts using RPKM method
# gene length must be in bp
nm = norm()
nm.rpkm(df=df, gl='length')
# get RPKM normalized dataframe
rpkm_df = nm.rpkm_norm
rpkm_df.head(2)
# output

                       ctr1       ctr2  ...       trt2       trt3
gene                                    ...
Sobic.001G000200  50.804745  51.327542  ...  37.472610  48.090169
Sobic.001G000400   3.060976   1.382614  ...   1.233556   1.308627

[2 rows x 6 columns]